.sliderHome{
    overflow: inherit!important;
}

.swiper-button-prev,.swiper-button-next{
    display:flex ;
    background: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    box-shadow: 0 1px 3px  #0000001f, 0 1px 2px #0000003d !important;

}

.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 22px !important;
    color: rgba(0,0,0,0.8);
}